.scroll-animation {
    animation: scroll-news 32s ease-out infinite;
}

@keyframes scroll-news {
    
    from {
        transform: translateX(60%);
    }
    to {
        transform: translateX(-100%);
    }
}


@media (max-width: 768px) {
    .scroll-animation {
        animation: scroll-news 12s ease-out infinite;
    }

    @keyframes scroll-news {
    
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }
}

