@media (min-width:768px) {

    .text-update {
        animation: moving 15s linear infinite;
    }
}

@media (max-width:768px) {
    
    .text-update {
        animation: moving 7.5s linear infinite;
    }
}



.text-update span {
    padding-inline: 0.5rem;
}

@keyframes moving {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}